@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-heading: var(--font-bebas);
  --font-sans: var(--font-inter);
  
  --color-background: #F0F4EF; /* Ghost White */
  --color-foreground: #0D1821; /* Rich Black */
}

:root {
  --background: #F0F4EF;
  --foreground: #0D1821;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Selection Color to match your theme */
::selection {
  background-color: #0D1821;
  color: #F0F4EF;
}
html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
